img{
    width: 200px;
    margin-left: 30px;
}
.fullsize {
    width: 80%
}
body {
    background-color : beige;
    color : brown;
    font-family: 'Fredoka',
    sans-serif;
    text-align:left;
    font-size: x-large;
    }
    li{
        align-items:left;
    }



